main {
    background-color: floralwhite;
    height: 100vh;
    
}

.flexbox-display {
    padding: 5rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: salmon;
    width: 30rem;
}

.flexbox-gallery {
    margin-top: 1rem;
    display: flex; padding: 2rem;
    width: 40rem;
    flex-wrap: wrap;
    gap: 1rem;
        background-color: salmon;
    justify-content: center;
    align-items: center;

}